/* Hides all of the android elements */
.android{
    display: none;
}

/* Sets the colour for ios links */
/* header{
    padding: 0;
} */

header a.link{
    color: rgb(50,124,246);
    /* padding: 0; */
}

.content {
    margin-top: 5%;
}

/* Tinyshell has a glitch where if you only have one item it goes to the left, so fixing that here */
.rightOnly{
    position: absolute;
    right: 0;
    /* padding-right: 10%; */
}

.leftOnly{
    position: absolute;
    left: 0;
    /* padding-left: 10%; */
}

/* Fix Fields Being pushed to side of screen */
#giftFormSection form .form-row input{
    margin-right: 15%;
    width: 84vw;
}

#peopleFormSection form .form-row input{
    margin-right: 15%;
    width: 84vw;
}