/* Generic class to display none */
.displayNone{
    display: none;
}

/* Changes list item if birthday is passed */
.passedDate{
    background-color: #b9b9b9;
    color: white;
}

.upcomingDate{
    background-color: white;
}

#deleteToggle{
    background-color: red;
    color: white;
    position: absolute;
    z-index: 0;
    right: 0.5rem;
    top: -100%;
}

#deleteToggle .delete{
    right: 23%;
}

#peopleScreen .list-item{
    transition: transform 0.5s;
}

.slideLeft{
    transform: translateX(-30%);
}